In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('passenger_survival_dataset.csv')

In [20]:
df.head(10)

,Passenger_ID,Name,Age,Gender,Class,Seat_Type,Fare_Paid,Survival_Status
0,1,Passenger_1,52,Male,Economy,Window,822.34,0
1,2,Passenger_2,15,Female,Economy,Middle,732.22,0
2,3,Passenger_3,72,Male,First,Aisle,957.75,1
3,4,Passenger_4,61,Female,Business,Middle,67.32,0
4,5,Passenger_5,21,Male,Economy,Aisle,235.99,0
5,6,Passenger_6,75,Male,Economy,Middle,57.18,0
6,7,Passenger_7,75,Male,Economy,Aisle,665.10,0
7,8,Passenger_8,24,Male,Business,Window,903.13,1
8,9,Passenger_9,3,Male,Business,Aisle,281.31,0
9,10,Passenger_10,22,Male,Economy,Middle,930.68,1

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Passenger_ID     500 non-null    int64
 1   Name             500 non-null    object
 2   Age              500 non-null    int64
 3   Gender           500 non-null    object
 4   Class            500 non-null    object
 5   Seat_Type        500 non-null    object
 6   Fare_Paid        500 non-null    float64
 7   Survival_Status  500 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 31.4+ KB

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Passenger_ID     500 non-null    int64
 1   Name             500 non-null    object
 2   Age              500 non-null    int64
 3   Gender           500 non-null    object
 4   Class            500 non-null    object
 5   Seat_Type        500 non-null    object
 6   Fare_Paid        500 non-null    float64
 7   Survival_Status  500 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 31.4+ KB

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
le=LabelEncoder()

df['Name']=le.fit_transform(df['Name'])
df['Gender']=le.fit_transform(df['Gender'])
df['Seat_Type']=le.fit_transform(df['Seat_Type'])
df['Class']=le.fit_transform(df['Class'])

In [26]:
print(df['Class'])

0      1
1      1
2      2
3      0
4      1
      ..
495    0
496    1
497    1
498    1
499    0
Name: Class, Length: 500, dtype: int32

In [27]:
X=df[['Passenger_ID','Name','Age','Gender','Class','Seat_Type','Fare_Paid']]
y=df['Survival_Status']

In [28]:
X.to_csv('survival.csv',index=False)

In [29]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
from sklearn.metrics import accuracy_score,classification_report

In [32]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)
y_pred=model.predict(X_test)
print('accuracy',accuracy_score(y_test,y_pred))
print('Classification report',classification_report(y_test,y_pred))

accuracy 0.52
Classification report               precision    recall  f1-score   support

           0       0.55      0.69      0.61        55
           1       0.45      0.31      0.37        45

    accuracy                           0.52       100
   macro avg       0.50      0.50      0.49       100
weighted avg       0.51      0.52      0.50       100

In [33]:
import pickle

In [34]:
file_name='Passenger.pkl'
with open(file_name,'wb') as file:
    pickle.dump(model,file)